<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tasks</title>
</head>
<body>
    <div> 
        <a href="/">Импорт записей из всех ActiveDirectories</a>
    </div>
    <div>
        <a href="/api/fileshares/createstructure">Создание структуры каталогов согласно Функциям ПАТ "Укртранснафта"</a>
    </div>
    <div>
        <a href="/api/fileshares/UpdateDatabaseStructure">Обновление базы на основании структуры каталогов</a>
    </div>
    <div>
        <a href="/api/importDruzhba">Импорт телефонов phonesDR_AU.xlsx</a>
    </div>
</body>
</html>
