@model OfficeMapper.Models.ApplicationView
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    <span>Сервисы для </span>
    @Model.User.FIO
    <span> </span>
    @Model.User.email;
    <a href="javascript:document.getElementById('logoutForm').submit()">[Выйти]</a>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Регистрация", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
