@{
    ViewBag.Title = "OfficeMapper";
}
<div id="modalDialogBack" style="display:block">
    <div id="modalDialog">
        <div class="closeButton" id="closeDialogButton">X</div>
        <div id="viewData">
            <div style="color:#fff; font-size:x-large;">В процесі розробки</div>
            <div style="color:#efefef; font-size:large; margin:10px;">Шановні колеги, на даний момент інтерактивна карта в процесі розробки. Додатково ми повідомимо вас про роботу сервісу.</div>            
        </div>
    </div>
</div>