<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Задачи для работы со справочником</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/Apps.css" />
    <script src="http://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
</head>
<body>
    <h1>Задачи по управлению Интерактивной картой</h1>
    <br />
    <div class="alert-info" style="font-size:large;">
        <a href="/api/importphones">1. Импортировать данные по АУ из excel файла</a>
    </div>
    <div class="alert-info" style="font-size:large;">
        2. Путь для сохранения фото: \\srv2016.ukrtransnafta.com\Data\Photos
    </div>
    <div class="alert-info" style="font-size:large;">
        3. Путь для сохранения карты: \\srv2016.ukrtransnafta.com\Data\Maps
    </div>
    <div class="alert-info" style="font-size:large;">
        4. Путь для сохранения телефонов: \\srv2016.ukrtransnafta.com\Data\Phones
    </div>
    <div class="alert-info" style="font-size:large;">
        5. Импорт телефонов phonesDR_AU.xlsx: \\srv2016.ukrtransnafta.com\api\importDruzhba
    </div>
    <br />
    <div class="btn btn-info">
        <a href="/">Вернуться</a>
    </div>
</body>
</html>
